* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


.display {
  color: white;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  border; 1px solid black;
  font-size: 2em;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-align: right;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin:  30px auto;
}

.flex-container-row {
  display: flex;
}

.button {
  flex-basis: 25%;
  text-align: center;
  padding: 30px;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
}

.operator,
.negative,
.equals {
  background: orange;
}

.double {
  flex-basis: 50%;
}

.history {
  width:  80%;
  overflow-y: scroll;
  max-height: 200px;
  margin: 30px auto;
}

.history table {
  border-collapse:  collapse;
  border-spacing: 0;
  width: 100%;
  text-align: center;
}

.history button {
  background-color: orange;
  color: white;
  padding: 5px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
}

table th {
  background-color:  orange;
  color:  white;
  padding:  5px;
}

th,
td {
  border:  1px solid white;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #d2d2d2;
}

@media screen and (max-width: 550px) {
  .button{
    padding: 15px;
  }

  .history {
    width:  100%;
    margin: 10px 0;
  }
}
